body {
  font-size: 0.875rem;
  background-color: #fffbf3;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.bg-primary {
  background-color: #efe1be !important;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.navbar-brand {
  background-color: #a67b5b6f !important;
}

.brown-text {
  color: #a67b5bb3 !important;
}

.brown-text:hover {
  color: #a67b5b !important;
  font-weight: 500;
}

.bg-secondary {
  background-color: #fff7e8 !important;
}

.btn-link {
  color: #000 !important;
  font-weight: 600;
  font-size: 0.875rem;
}

.btn-link:focus {
  outline: none;
  box-shadow: none;
}

.tableHeader:hover,
.addReport:hover,
.nav-item:hover {
  cursor: pointer;
}

.makeAdmin:hover,
.restoreItem:hover {
  text-decoration: none;
  cursor: pointer;
}

.removeAdmin,
.delete-item {
  color: red;
}

.removeAdmin:hover,
.delete-item:hover {
  text-decoration: none;
  cursor: pointer;
  color: red;
}

#body-blurred {
  filter: blur(5px);
}

#inventory-spinner,
#products-spinner,
#orders-spinner,
#reports-spinner,
#members-spinner,
#profile-spinner {
  position: absolute;
  display: block;
  width: 5rem;
  height: 5rem;
  display: block;
  margin-left: calc(100% - 85%);
  margin-right: auto;
  top: 45%;
}
